apiVersion: 1

contactPoints:
  - orgId: 1
    name: email
    receivers:
      - uid: email_default
        type: email
        settings:
          addresses: "{{ alert_email }}"
        disableResolveMessage: false
